<div style="font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive; background-color: #c5c6c7; min-height:80vh; border-radius: 12px; padding-bottom: 2vh; ">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
       
        <button class="btn btn-info me-md-2" type="button" routerLink="/"
            style="border:solid #1F2833; margin: 1vw;">Home</button>

        <button class="btn btn-info me-md-2" type="button" routerLink="/packages"
            style="border:solid #1F2833; margin: 1vw;">Package
        </button>
    </div>
    <div class="container-fluid">
    <div class="card shadow-lg" style="background-color: #c5c6c7;">
        <img src="assets/cotact.jpg"  class="card-img-top" alt="..."><br>
        <div class="card-body">
          <h5 class="card-title " style="color: #1F2833;">Address</h5>
          <p style="color: #1F2833;" class="card-text"><img src="assets/map-marker-alt-solid.svg"  height="20" style="margin:2px; background-color: aqua; padding: 2px;border-radius: 5px;">Street-50, abc complex, Bagalur Road, Hosur,635109, Tamilnadu.</p><hr>
          <h5 class="card-title " style="color: #1F2833;">Contact Us</h5>
          <a class="card-text" >  <img src="assets/envelope-solid.svg"  height="20" style="margin:2px; background-color: aqua; padding: 2px;border-radius: 5px;"> HustleFitness@HF.com  <br> <img src="assets/phone-square-alt-solid.svg"  height="20" style="margin:2px; background-color: aqua; padding: 2px;border-radius: 5px;"> 9999999999
        </a>
          <p class="card-text"><small class="text-muted">Last updated on 06/11/2021</small></p>
        </div>
        
       
      </div>
    </div>
</div>
