/* You can add global styles to this file, and also import other style files */
.html{
    background-color: #1F2833;
    font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Londrina Solid', cursive;
}