<div class="container-fluid" style="background-color:#1F2833;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"  style="background-color:#1F2833;"> 
      <p class="col-md-4 mb-0 text-muted">&copy; 2021 HustleFitness, HF</p>
  
      <a routerLink="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="assets\Frame 2.svg" class="bi me-2" width="40" height="32">
      </a>
  
      <ul class="nav col-md-4 justify-content-end" >
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a routerLink="packages/" class="nav-link px-2 text-muted">Package</a></li>
        <li class="nav-item"><a routerLink="contact/" class="nav-link px-2 text-muted">Contact Us</a></li>
      </ul>
    </footer>
  </div>
